@font-face {
    font-family: 'LobsterTwo-Regular';
    src: url('../fonts/lobsterregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


.navbar-custom h1 {
    font-family: 'LobsterTwo-Regular' !important;
    color: #fff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 2.5rem;

    font-weight: bold;
    font-style: italic;

    margin: 0;

    text-align: center;

    padding: 10px 20px;

    letter-spacing: 2px;


}


.navbar-custom h1:hover {
    color: #ffcc00;

}

.navbar-custom {
    background-color: #996632;
}


.navbar-custom .nav-button {
    font-family: 'LobsterTwo-Regular' !important;
    font-weight: 400 !important;
    margin: 0 0.5rem;
    border-radius: 5px;
    border-color: #302011;
    transition: all 0.3s;
    padding: 0.5rem 1.5rem;
    font-size: 22px;
    color: #fff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}


.navbar-custom .nav-button:hover {
    background-color: #754e27;
    color: #ffcc00;
    transform: scale(1.05);
}


.nav-link.active .nav-button {
    background-color: #54381d;
    color: #ffcc00;
}


.nav-link :hover {
    text-decoration: none;

}


.navbar-custom .navbar-brand img {
    height: 50px;
    width: auto;
    padding-right: 4rem;
}